# Ignore raycast as bloat
/raycast/*
/raycast

# Ignore jgit as bloat
/jgit/*
/jgit

# Ignore gtk as bloat
/gtk-3.0

# Ignore xxh as bloat
/xxh

# Composer
/composer/vendor
/composer/.htaccess
/composer/composer.lock

# FileZilla
/filezilla
